.card
  padding 24px
  box-sizing border-box
  border 1px solid color-grey
  background-color color-light-grey
  display flex
  &_transparent
    background-color transparent
  &__icon-column
    flex-grow 0
  &__content-column
    flex-grow 1
    padding-left 12px
  &__text
    margin-top 8px
  &__button
    margin-top 16px
