.footer
  border-top 1px solid color-grey
  height 60px
  box-sizing border-box
  background-color color-light-grey
  padding 20px 34px 20px 28px
  display flex
  justify-content space-between
  >div
    line-height 20px
    font-size 1vw
  >div:first-child
    color color-dark-grey
  >div:last-child
    color color-dark-grey
  &__link
    color color-body
    margin-left 12px
  &__email
    font-weight 500
    color color-body
    &:hover
      color color-body
