.main
  padding 28px 34px 40px 28px
  &__grid
    margin-left -30px
    margin-top -28px
    display flex
    flex-wrap wrap
    box-sizing border-box
  &__cell
    padding-left 30px
    padding-top 28px
    box-sizing border-box
    width 50%
    &_big
      width 100%
  &__buttons
    display flex
    li+li
      margin-left 16px
