$marketIcons = (boots building calendar clothes lux profile)

.market-icon
  display block
  width 48px
  height 48px
  background-size contain
  background-position 50% 50%
  &_disabled
    filter grayscale(100%)
  for $icon in $marketIcons
    &_{$icon}
        background-image url(../img/icon/market/$icon.svg)
