$normalIcons = (arrow-down arrow-right bookmark delete doc-icon download external-link eye-closed eye-opened hide-notification history more-horizontal notification pdf-icon qa search search-small seen settings)
$hoverIcons = (bookmark delete download eye-closed eye-opened more-horizontal notification qa search settings)
$activeIcons = (bookmark delete more-horizontal notification qa search)

.service-icon:before
  content ""
  background-size contain

for $icon in $normalIcons
  .service-icon_{$icon}
    &:before
      background-image url(../img/icon/service/$icon/normal.svg)

for $icon in $hoverIcons
  .service-icon_{$icon}
    &:hover:before
      background-image url(../img/icon/service/$icon/hover.svg)

for $icon in $activeIcons
  .service-icon_{$icon}
    &:active:before
      background-image url(../img/icon/service/$icon/active.svg)
